In [1]:
from nsepy import get_history
from datetime import date

In [3]:
sbin = get_history(symbol='SBIN',
                   start=date(2015,1,1),
                   end=date(2015,1,10))
print(sbin)

Empty DataFrame
Columns: [Symbol, Series, Prev Close, Open, High, Low, Last, Close, VWAP, Volume, Turnover, Trades, Deliverable Volume, %Deliverble]
Index: []

In [13]:
nifty_opt = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        option_type='CE',
                        strike_price=8200,
                        expiry_date=date(2015,1,29))
nifty_opt

Empty DataFrame
Columns: [Symbol, Expiry, Option Type, Strike Price, Open, High, Low, Close, Last, Settle Price, Number of Contracts, Turnover, Premium Turnover, Open Interest, Change in OI, Underlying]
Index: []

In [15]:
nifty_opt = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,2),
                        index=True)
nifty_opt

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Turnover]
Index: []

In [17]:
vix = get_history(symbol="INDIAVIX",
            start=date(2015,1,1),
            end=date(2015,1,10),
            index=True)
vix

Empty DataFrame
Columns: [Open, High, Low, Close, Previous, Change, %Change]
Index: []